--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: mode_collecte; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.mode_collecte AS ENUM (
    'collecte_domicile',
    'depot_volontaire'
);


ALTER TYPE public.mode_collecte OWNER TO postgres;

--
-- Name: statut_collecteur; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statut_collecteur AS ENUM (
    'en_attente',
    'actif',
    'suspendu',
    'inactif'
);


ALTER TYPE public.statut_collecteur OWNER TO postgres;

--
-- Name: statut_declaration; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statut_declaration AS ENUM (
    'en_attente',
    'affecte',
    'programme',
    'termine',
    'annule'
);


ALTER TYPE public.statut_declaration OWNER TO postgres;

--
-- Name: statut_mission; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statut_mission AS ENUM (
    'disponible',
    'acceptee',
    'en_cours',
    'deposee',
    'validee',
    'refusee',
    'annulee'
);


ALTER TYPE public.statut_mission OWNER TO postgres;

--
-- Name: type_collecteur; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.type_collecteur AS ENUM (
    'independant',
    'cooperative'
);


ALTER TYPE public.type_collecteur OWNER TO postgres;

--
-- Name: type_dechet; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.type_dechet AS ENUM (
    'plastique_pet',
    'plastique_pehd',
    'papier_carton',
    'metal',
    'verre',
    'organique'
);


ALTER TYPE public.type_dechet OWNER TO postgres;

--
-- Name: type_producteur; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.type_producteur AS ENUM (
    'menage',
    'commerce',
    'entreprise',
    'administration'
);


ALTER TYPE public.type_producteur OWNER TO postgres;

--
-- Name: type_utilisateur; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.type_utilisateur AS ENUM (
    'collecteur',
    'gestionnaire',
    'superviseur',
    'producteur'
);


ALTER TYPE public.type_utilisateur OWNER TO postgres;

--
-- Name: attribuer_points_apres_collecte(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.attribuer_points_apres_collecte() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    points_a_attribuer INTEGER;
BEGIN
    IF NEW.statut = 'terminee' AND OLD.statut != 'terminee' THEN
        -- Calcul des points basÔÇÜ sur le poids
        points_a_attribuer := CEIL(NEW.poids_reel);
        
        -- Mise ÔÇª jour du total de points du producteur
        UPDATE producteurs 
        SET points = points + points_a_attribuer
        WHERE id = (
            SELECT producteur_id 
            FROM declarations_dechets 
            WHERE id = NEW.declaration_id
        );
        
        -- Historique des points
        INSERT INTO historique_points (producteur_id, points, raison, reference_id, type_reference)
        SELECT 
            dd.producteur_id,
            points_a_attribuer,
            'Collecte terminÔÇÜe',
            NEW.id,
            'collecte'
        FROM declarations_dechets dd
        WHERE dd.id = NEW.declaration_id;
        
        -- Notification au producteur
        INSERT INTO notifications (producteur_id, titre, message, type_notification)
        SELECT 
            dd.producteur_id,
            'Collecte terminÔÇÜe',
            'Votre collecte a ÔÇÜtÔÇÜ terminÔÇÜe. Vous avez gagnÔÇÜ ' || points_a_attribuer || ' points.',
            'succes'
        FROM declarations_dechets dd
        WHERE dd.id = NEW.declaration_id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.attribuer_points_apres_collecte() OWNER TO postgres;

--
-- Name: calculer_gains_collecteur(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculer_gains_collecteur() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    montant_gain DECIMAL(10, 2);
BEGIN
    IF NEW.statut = 'validee' AND (OLD.statut IS NULL OR OLD.statut != 'validee') THEN
        -- Calcul du gain (exemple: 100 FCFA par kg)
        montant_gain := NEW.poids_depose * 100;
        
        -- Mise ÔÇª jour des gains du collecteur
        UPDATE collecteurs 
        SET gains_total = gains_total + montant_gain
        WHERE id = NEW.collecteur_id;
        
        -- Enregistrement du gain
        INSERT INTO gains_collecteurs (collecteur_id, mission_id, montant, type_gain, statut)
        VALUES (NEW.collecteur_id, NEW.id, montant_gain, 'collecte', 'valide');
        
        -- Notification au collecteur
        INSERT INTO notifications (utilisateur_id, type_utilisateur, titre, message, type_notification, reference_id, reference_type)
        VALUES (
            NEW.collecteur_id,
            'collecteur',
            'Mission validÔÇÜe',
            'Votre mission a ÔÇÜtÔÇÜ validÔÇÜe. Vous avez gagnÔÇÜ ' || montant_gain || ' FCFA.',
            'validation_collecte',
            NEW.id,
            'mission'
        );
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.calculer_gains_collecteur() OWNER TO postgres;

--
-- Name: calculer_poids_estime(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculer_poids_estime() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Conversion basique (ÔÇª ajuster selon les besoins rÔÇÜels)
    IF NEW.unite = 'sacs' THEN
        NEW.poids_estime = NEW.quantite * 10; -- Supposition: 10kg par sac
    ELSIF NEW.unite = 'unites' THEN
        NEW.poids_estime = NEW.quantite * 1; -- Supposition: 1kg par unitÔÇÜ
    ELSE
        NEW.poids_estime = NEW.quantite;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.calculer_poids_estime() OWNER TO postgres;

--
-- Name: mettre_a_jour_modifie_le(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.mettre_a_jour_modifie_le() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.modifie_le = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.mettre_a_jour_modifie_le() OWNER TO postgres;

--
-- Name: notifier_affectation_collecteur(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.notifier_affectation_collecteur() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.statut = 'affecte' AND (OLD.statut IS NULL OR OLD.statut != 'affecte') THEN
        INSERT INTO notifications (
            utilisateur_id, 
            type_utilisateur, 
            titre, 
            message, 
            type_notification,
            reference_id,
            reference_type
        )
        SELECT 
            producteur_id,
            'producteur',
            'Collecteur affectÔÇÜ',
            'Un collecteur a ÔÇÜtÔÇÜ affectÔÇÜ ÔÇª votre dÔÇÜclaration. Vous serez notifiÔÇÜ du crÔÇÜneau horaire.',
            'collecteur_affecte',
            NEW.id,
            'declaration'
        FROM declarations_dechets
        WHERE id = NEW.id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notifier_affectation_collecteur() OWNER TO postgres;

--
-- Name: notifier_nouvelle_mission(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.notifier_nouvelle_mission() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.statut = 'disponible' AND (OLD.statut IS NULL OR OLD.statut != 'disponible') THEN
        -- CrÔÇÜer des notifications pour les collecteurs dans la zone
        INSERT INTO notifications (utilisateur_id, type_utilisateur, titre, message, type_notification, reference_id, reference_type)
        SELECT 
            c.id,
            'collecteur',
            'Nouvelle mission disponible',
            'Une nouvelle mission de collecte est disponible dans votre zone.',
            'nouvelle_mission',
            NEW.id,
            'mission'
        FROM collecteurs c
        WHERE c.statut = 'actif' 
          AND c.est_actif = true
          AND ST_Intersects(
              c.zone_intervention,
              (SELECT localisation_gps::geometry FROM producteurs 
               WHERE id = (SELECT producteur_id FROM declarations_dechets WHERE id = NEW.declaration_id))
          );
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notifier_nouvelle_mission() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: collecteurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collecteurs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20) NOT NULL,
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_complet character varying(255) NOT NULL,
    type_collecteur public.type_collecteur NOT NULL,
    numero_identite character varying(50),
    zone_intervention public.geometry(Polygon,4326),
    zone_intervention_nom character varying(255),
    quartiers_habituels text[],
    communes_intervention text[],
    statut public.statut_collecteur DEFAULT 'en_attente'::public.statut_collecteur,
    est_actif boolean DEFAULT false,
    notes_validation text,
    valide_par uuid,
    valide_le timestamp without time zone,
    photo_profil_url text,
    cgu_acceptees boolean DEFAULT false,
    cgu_acceptees_le timestamp without time zone,
    points_total integer DEFAULT 0,
    gains_total numeric(10,2) DEFAULT 0,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    derniere_connexion timestamp without time zone,
    photo_cni_recto_url text,
    photo_cni_verso_url text
);


ALTER TABLE public.collecteurs OWNER TO postgres;

--
-- Name: declarations_dechets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.declarations_dechets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    producteur_id uuid,
    date_declaration date DEFAULT CURRENT_DATE,
    type_dechet public.type_dechet NOT NULL,
    quantite numeric(10,2) NOT NULL,
    unite character varying(20),
    poids_estime numeric(10,2),
    mode_collecte public.mode_collecte NOT NULL,
    statut public.statut_declaration DEFAULT 'en_attente'::public.statut_declaration,
    date_souhaitee date,
    creneau_horaire character varying(50),
    notes text,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT declarations_dechets_unite_check CHECK (((unite)::text = ANY ((ARRAY['kg'::character varying, 'sacs'::character varying, 'unites'::character varying])::text[])))
);


ALTER TABLE public.declarations_dechets OWNER TO postgres;

--
-- Name: producteurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.producteurs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20) NOT NULL,
    mot_de_passe_hash character varying(255) NOT NULL,
    type_producteur public.type_producteur NOT NULL,
    nom_complet character varying(255) NOT NULL,
    adresse text NOT NULL,
    localisation_gps public.geography(Point,4326),
    quartier character varying(100),
    commune character varying(100),
    est_actif boolean DEFAULT true,
    cgu_acceptees boolean DEFAULT false,
    cgu_acceptees_le timestamp without time zone,
    points integer DEFAULT 0,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    derniere_connexion timestamp without time zone
);


ALTER TABLE public.producteurs OWNER TO postgres;

--
-- Name: declarations_en_attente; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.declarations_en_attente AS
 SELECT dd.id,
    dd.producteur_id,
    dd.date_declaration,
    dd.type_dechet,
    dd.quantite,
    dd.unite,
    dd.poids_estime,
    dd.mode_collecte,
    dd.statut,
    dd.date_souhaitee,
    dd.creneau_horaire,
    dd.notes,
    dd.cree_le,
    dd.modifie_le,
    p.nom_complet,
    p.type_producteur,
    p.quartier,
    p.commune
   FROM (public.declarations_dechets dd
     JOIN public.producteurs p ON ((dd.producteur_id = p.id)))
  WHERE (dd.statut = 'en_attente'::public.statut_declaration)
  ORDER BY dd.cree_le;


ALTER VIEW public.declarations_en_attente OWNER TO postgres;

--
-- Name: gains_collecteurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gains_collecteurs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    collecteur_id uuid,
    mission_id uuid,
    montant numeric(10,2) NOT NULL,
    type_gain character varying(50),
    statut character varying(50) DEFAULT 'en_attente'::character varying,
    date_validation timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT gains_collecteurs_statut_check CHECK (((statut)::text = ANY ((ARRAY['en_attente'::character varying, 'valide'::character varying, 'paye'::character varying])::text[]))),
    CONSTRAINT gains_collecteurs_type_gain_check CHECK (((type_gain)::text = ANY ((ARRAY['collecte'::character varying, 'bonus'::character varying, 'prime'::character varying])::text[])))
);


ALTER TABLE public.gains_collecteurs OWNER TO postgres;

--
-- Name: gestionnaires_points; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestionnaires_points (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20) NOT NULL,
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_complet character varying(255) NOT NULL,
    point_collecte_id uuid,
    fonction character varying(100),
    est_actif boolean DEFAULT true,
    cree_par uuid,
    derniere_connexion timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.gestionnaires_points OWNER TO postgres;

--
-- Name: historique_actions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historique_actions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    utilisateur_id uuid NOT NULL,
    action character varying(255) NOT NULL,
    details jsonb,
    adresse_ip inet,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.historique_actions OWNER TO postgres;

--
-- Name: historique_points; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historique_points (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    producteur_id uuid,
    points integer NOT NULL,
    raison character varying(255) NOT NULL,
    reference_id uuid,
    type_reference character varying(50),
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.historique_points OWNER TO postgres;

--
-- Name: missions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.missions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    declaration_id uuid,
    collecteur_id uuid,
    statut public.statut_mission DEFAULT 'disponible'::public.statut_mission,
    date_disponibilite timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_acceptation timestamp without time zone,
    date_debut_collecte timestamp without time zone,
    date_fin_collecte timestamp without time zone,
    date_depot_point timestamp without time zone,
    date_validation timestamp without time zone,
    photo_preuve_url text,
    code_confirmation_producteur character varying(10),
    notes_collecte text,
    conformite_tri boolean,
    point_depot_id uuid,
    poids_depose numeric(10,2),
    qualite_dechets character varying(50),
    valide_par uuid,
    validation_notes text,
    points_attribues integer DEFAULT 0,
    gains_attribues numeric(10,2) DEFAULT 0,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_programmee date,
    heure_programmee character varying(50)
);


ALTER TABLE public.missions OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    utilisateur_id uuid NOT NULL,
    type_utilisateur public.type_utilisateur NOT NULL,
    titre character varying(255) NOT NULL,
    message text NOT NULL,
    type_notification character varying(50),
    reference_id uuid,
    reference_type character varying(50),
    est_lue boolean DEFAULT false,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    producteur_id uuid,
    CONSTRAINT notifications_type_notification_check CHECK (((type_notification)::text = ANY ((ARRAY['info'::character varying, 'succes'::character varying, 'alerte'::character varying, 'nouvelle_mission'::character varying, 'mission_acceptee'::character varying, 'mission_terminee'::character varying, 'validation_collecte'::character varying, 'paiement_recu'::character varying, 'compte_valide'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: photos_preuves; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.photos_preuves (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    mission_id uuid,
    collecteur_id uuid,
    url_photo text NOT NULL,
    type_photo character varying(50),
    description text,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT photos_preuves_type_photo_check CHECK (((type_photo)::text = ANY ((ARRAY['avant_collecte'::character varying, 'apres_collecte'::character varying, 'depot'::character varying, 'autre'::character varying])::text[])))
);


ALTER TABLE public.photos_preuves OWNER TO postgres;

--
-- Name: points_depot_volontaire; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.points_depot_volontaire (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nom character varying(255) NOT NULL,
    adresse text NOT NULL,
    localisation_gps public.geography(Point,4326),
    quartier character varying(100),
    commune character varying(100),
    types_dechets_acceptes public.type_dechet[],
    horaires_ouverture jsonb,
    est_actif boolean DEFAULT true,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.points_depot_volontaire OWNER TO postgres;

--
-- Name: superviseurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.superviseurs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20),
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_complet character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'superviseur'::character varying,
    est_actif boolean DEFAULT true,
    derniere_connexion timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.superviseurs OWNER TO postgres;

--
-- Name: tableau_bord_collecteur; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.tableau_bord_collecteur AS
 SELECT c.id AS collecteur_id,
    c.nom_complet,
    c.email,
    c.telephone,
    c.statut,
    c.points_total,
    c.gains_total,
    count(DISTINCT m.id) AS total_missions,
    count(DISTINCT
        CASE
            WHEN (m.statut = 'validee'::public.statut_mission) THEN m.id
            ELSE NULL::uuid
        END) AS missions_validees,
    count(DISTINCT
        CASE
            WHEN (m.statut = 'en_cours'::public.statut_mission) THEN m.id
            ELSE NULL::uuid
        END) AS missions_en_cours,
    COALESCE(sum(m.poids_depose), (0)::numeric) AS total_dechets_collectes,
    COALESCE(sum(
        CASE
            WHEN (m.statut = 'validee'::public.statut_mission) THEN m.gains_attribues
            ELSE NULL::numeric
        END), (0)::numeric) AS gains_du_mois,
    max(m.date_validation) AS derniere_mission_validee
   FROM (public.collecteurs c
     LEFT JOIN public.missions m ON ((c.id = m.collecteur_id)))
  GROUP BY c.id, c.nom_complet, c.email, c.telephone, c.statut, c.points_total, c.gains_total;


ALTER VIEW public.tableau_bord_collecteur OWNER TO postgres;

--
-- Name: tableau_bord_gestionnaire; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.tableau_bord_gestionnaire AS
 SELECT gp.id AS gestionnaire_id,
    gp.nom_complet,
    gp.point_collecte_id,
    pdv.nom AS point_collecte_nom,
    count(DISTINCT m.id) AS total_receptions,
    COALESCE(sum(m.poids_depose), (0)::numeric) AS total_poids_recu,
    count(DISTINCT
        CASE
            WHEN (m.date_validation >= CURRENT_DATE) THEN m.id
            ELSE NULL::uuid
        END) AS receptions_aujourdhui,
    COALESCE(sum(
        CASE
            WHEN (m.date_validation >= CURRENT_DATE) THEN m.poids_depose
            ELSE NULL::numeric
        END), (0)::numeric) AS poids_aujourdhui
   FROM ((public.gestionnaires_points gp
     LEFT JOIN public.points_depot_volontaire pdv ON ((gp.point_collecte_id = pdv.id)))
     LEFT JOIN public.missions m ON (((pdv.id = m.point_depot_id) AND (m.statut = 'validee'::public.statut_mission))))
  GROUP BY gp.id, gp.nom_complet, gp.point_collecte_id, pdv.nom;


ALTER VIEW public.tableau_bord_gestionnaire OWNER TO postgres;

--
-- Name: tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tokens (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    utilisateur_id uuid NOT NULL,
    token character varying(255) NOT NULL,
    type_token character varying(50),
    expire_le timestamp without time zone NOT NULL,
    utilise boolean DEFAULT false,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT tokens_type_token_check CHECK (((type_token)::text = ANY ((ARRAY['reset_password'::character varying, 'validation_email'::character varying, 'validation_compte'::character varying])::text[])))
);


ALTER TABLE public.tokens OWNER TO postgres;

--
-- Name: types_dechets_declaration; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.types_dechets_declaration (
    declaration_id uuid NOT NULL,
    type_dechet public.type_dechet NOT NULL,
    quantite numeric(10,2) NOT NULL,
    unite character varying(20),
    CONSTRAINT types_dechets_declaration_unite_check CHECK (((unite)::text = ANY ((ARRAY['kg'::character varying, 'sacs'::character varying, 'unites'::character varying])::text[])))
);


ALTER TABLE public.types_dechets_declaration OWNER TO postgres;

--
-- Data for Name: collecteurs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: declarations_dechets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gains_collecteurs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gestionnaires_points; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: historique_actions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.historique_actions (id, utilisateur_id, action, details, adresse_ip, cree_le) FROM stdin;
\.


--
-- Data for Name: historique_points; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.historique_points (id, producteur_id, points, raison, reference_id, type_reference, cree_le) FROM stdin;
\.


--
-- Data for Name: missions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: photos_preuves; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.photos_preuves (id, mission_id, collecteur_id, url_photo, type_photo, description, cree_le) FROM stdin;
\.


--
-- Data for Name: points_depot_volontaire; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.points_depot_volontaire (id, nom, adresse, localisation_gps, quartier, commune, types_dechets_acceptes, horaires_ouverture, est_actif, cree_le) FROM stdin;
\.


--
-- Data for Name: producteurs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: superviseurs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tokens (id, utilisateur_id, token, type_token, expire_le, utilise, cree_le) FROM stdin;
\.


--
-- Data for Name: types_dechets_declaration; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.types_dechets_declaration (declaration_id, type_dechet, quantite, unite) FROM stdin;
\.


--
-- Name: collecteurs collecteurs_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collecteurs
    ADD CONSTRAINT collecteurs_email_key UNIQUE (email);


--
-- Name: collecteurs collecteurs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collecteurs
    ADD CONSTRAINT collecteurs_pkey PRIMARY KEY (id);


--
-- Name: collecteurs collecteurs_telephone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collecteurs
    ADD CONSTRAINT collecteurs_telephone_key UNIQUE (telephone);


--
-- Name: declarations_dechets declarations_dechets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.declarations_dechets
    ADD CONSTRAINT declarations_dechets_pkey PRIMARY KEY (id);


--
-- Name: gains_collecteurs gains_collecteurs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gains_collecteurs
    ADD CONSTRAINT gains_collecteurs_pkey PRIMARY KEY (id);


--
-- Name: gestionnaires_points gestionnaires_points_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestionnaires_points
    ADD CONSTRAINT gestionnaires_points_email_key UNIQUE (email);


--
-- Name: gestionnaires_points gestionnaires_points_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestionnaires_points
    ADD CONSTRAINT gestionnaires_points_pkey PRIMARY KEY (id);


--
-- Name: gestionnaires_points gestionnaires_points_telephone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestionnaires_points
    ADD CONSTRAINT gestionnaires_points_telephone_key UNIQUE (telephone);


--
-- Name: historique_actions historique_actions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historique_actions
    ADD CONSTRAINT historique_actions_pkey PRIMARY KEY (id);


--
-- Name: historique_points historique_points_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historique_points
    ADD CONSTRAINT historique_points_pkey PRIMARY KEY (id);


--
-- Name: missions missions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.missions
    ADD CONSTRAINT missions_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: photos_preuves photos_preuves_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos_preuves
    ADD CONSTRAINT photos_preuves_pkey PRIMARY KEY (id);


--
-- Name: points_depot_volontaire points_depot_volontaire_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.points_depot_volontaire
    ADD CONSTRAINT points_depot_volontaire_pkey PRIMARY KEY (id);


--
-- Name: producteurs producteurs_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producteurs
    ADD CONSTRAINT producteurs_email_key UNIQUE (email);


--
-- Name: producteurs producteurs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producteurs
    ADD CONSTRAINT producteurs_pkey PRIMARY KEY (id);


--
-- Name: producteurs producteurs_telephone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producteurs
    ADD CONSTRAINT producteurs_telephone_key UNIQUE (telephone);


--
-- Name: superviseurs superviseurs_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.superviseurs
    ADD CONSTRAINT superviseurs_email_key UNIQUE (email);


--
-- Name: superviseurs superviseurs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.superviseurs
    ADD CONSTRAINT superviseurs_pkey PRIMARY KEY (id);


--
-- Name: superviseurs superviseurs_telephone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.superviseurs
    ADD CONSTRAINT superviseurs_telephone_key UNIQUE (telephone);


--
-- Name: tokens tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_pkey PRIMARY KEY (id);


--
-- Name: tokens tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_token_key UNIQUE (token);


--
-- Name: types_dechets_declaration types_dechets_declaration_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.types_dechets_declaration
    ADD CONSTRAINT types_dechets_declaration_pkey PRIMARY KEY (declaration_id, type_dechet);


--
-- Name: idx_collecteurs_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_collecteurs_email ON public.collecteurs USING btree (email);


--
-- Name: idx_collecteurs_statut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_collecteurs_statut ON public.collecteurs USING btree (statut);


--
-- Name: idx_collecteurs_telephone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_collecteurs_telephone ON public.collecteurs USING btree (telephone);


--
-- Name: idx_collecteurs_zone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_collecteurs_zone ON public.collecteurs USING gist (zone_intervention);


--
-- Name: idx_declarations_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_declarations_date ON public.declarations_dechets USING btree (date_declaration);


--
-- Name: idx_declarations_producteur_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_declarations_producteur_id ON public.declarations_dechets USING btree (producteur_id);


--
-- Name: idx_declarations_statut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_declarations_statut ON public.declarations_dechets USING btree (statut);


--
-- Name: idx_gestionnaires_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gestionnaires_email ON public.gestionnaires_points USING btree (email);


--
-- Name: idx_gestionnaires_point_collecte; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gestionnaires_point_collecte ON public.gestionnaires_points USING btree (point_collecte_id);


--
-- Name: idx_historique_points_producteur_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_historique_points_producteur_id ON public.historique_points USING btree (producteur_id);


--
-- Name: idx_missions_collecteur_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_missions_collecteur_id ON public.missions USING btree (collecteur_id);


--
-- Name: idx_missions_date_validation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_missions_date_validation ON public.missions USING btree (date_validation);


--
-- Name: idx_missions_declaration_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_missions_declaration_id ON public.missions USING btree (declaration_id);


--
-- Name: idx_missions_point_depot; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_missions_point_depot ON public.missions USING btree (point_depot_id);


--
-- Name: idx_missions_statut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_missions_statut ON public.missions USING btree (statut);


--
-- Name: idx_points_depot_localisation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_points_depot_localisation ON public.points_depot_volontaire USING gist (localisation_gps);


--
-- Name: idx_producteurs_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producteurs_email ON public.producteurs USING btree (email);


--
-- Name: idx_producteurs_telephone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producteurs_telephone ON public.producteurs USING btree (telephone);


--
-- Name: missions calculer_gains_sur_validation; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER calculer_gains_sur_validation AFTER UPDATE ON public.missions FOR EACH ROW EXECUTE FUNCTION public.calculer_gains_collecteur();


--
-- Name: declarations_dechets calculer_poids_avant_insertion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER calculer_poids_avant_insertion BEFORE INSERT ON public.declarations_dechets FOR EACH ROW EXECUTE FUNCTION public.calculer_poids_estime();


--
-- Name: collecteurs mettre_a_jour_collecteurs_modifie_le; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_collecteurs_modifie_le BEFORE UPDATE ON public.collecteurs FOR EACH ROW EXECUTE FUNCTION public.mettre_a_jour_modifie_le();


--
-- Name: declarations_dechets mettre_a_jour_declarations_modifie_le; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_declarations_modifie_le BEFORE UPDATE ON public.declarations_dechets FOR EACH ROW EXECUTE FUNCTION public.mettre_a_jour_modifie_le();


--
-- Name: gestionnaires_points mettre_a_jour_gestionnaires_modifie_le; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_gestionnaires_modifie_le BEFORE UPDATE ON public.gestionnaires_points FOR EACH ROW EXECUTE FUNCTION public.mettre_a_jour_modifie_le();


--
-- Name: missions mettre_a_jour_missions_modifie_le; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_missions_modifie_le BEFORE UPDATE ON public.missions FOR EACH ROW EXECUTE FUNCTION public.mettre_a_jour_modifie_le();


--
-- Name: producteurs mettre_a_jour_producteurs_modifie_le; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_producteurs_modifie_le BEFORE UPDATE ON public.producteurs FOR EACH ROW EXECUTE FUNCTION public.mettre_a_jour_modifie_le();


--
-- Name: declarations_dechets notifier_affectation_collecteur_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER notifier_affectation_collecteur_trigger AFTER UPDATE ON public.declarations_dechets FOR EACH ROW EXECUTE FUNCTION public.notifier_affectation_collecteur();

ALTER TABLE public.declarations_dechets DISABLE TRIGGER notifier_affectation_collecteur_trigger;


--
-- Name: missions notifier_nouvelle_mission_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER notifier_nouvelle_mission_trigger AFTER INSERT ON public.missions FOR EACH ROW EXECUTE FUNCTION public.notifier_nouvelle_mission();


--
-- Name: declarations_dechets declarations_dechets_producteur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.declarations_dechets
    ADD CONSTRAINT declarations_dechets_producteur_id_fkey FOREIGN KEY (producteur_id) REFERENCES public.producteurs(id) ON DELETE CASCADE;


--
-- Name: gains_collecteurs gains_collecteurs_collecteur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gains_collecteurs
    ADD CONSTRAINT gains_collecteurs_collecteur_id_fkey FOREIGN KEY (collecteur_id) REFERENCES public.collecteurs(id) ON DELETE CASCADE;


--
-- Name: gains_collecteurs gains_collecteurs_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gains_collecteurs
    ADD CONSTRAINT gains_collecteurs_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.missions(id) ON DELETE SET NULL;


--
-- Name: gestionnaires_points gestionnaires_points_point_collecte_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestionnaires_points
    ADD CONSTRAINT gestionnaires_points_point_collecte_id_fkey FOREIGN KEY (point_collecte_id) REFERENCES public.points_depot_volontaire(id) ON DELETE SET NULL;


--
-- Name: historique_points historique_points_producteur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historique_points
    ADD CONSTRAINT historique_points_producteur_id_fkey FOREIGN KEY (producteur_id) REFERENCES public.producteurs(id) ON DELETE CASCADE;


--
-- Name: missions missions_collecteur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.missions
    ADD CONSTRAINT missions_collecteur_id_fkey FOREIGN KEY (collecteur_id) REFERENCES public.collecteurs(id) ON DELETE SET NULL;


--
-- Name: missions missions_declaration_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.missions
    ADD CONSTRAINT missions_declaration_id_fkey FOREIGN KEY (declaration_id) REFERENCES public.declarations_dechets(id) ON DELETE SET NULL;


--
-- Name: missions missions_point_depot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.missions
    ADD CONSTRAINT missions_point_depot_id_fkey FOREIGN KEY (point_depot_id) REFERENCES public.points_depot_volontaire(id);


--
-- Name: photos_preuves photos_preuves_collecteur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos_preuves
    ADD CONSTRAINT photos_preuves_collecteur_id_fkey FOREIGN KEY (collecteur_id) REFERENCES public.collecteurs(id);


--
-- Name: photos_preuves photos_preuves_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos_preuves
    ADD CONSTRAINT photos_preuves_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.missions(id) ON DELETE CASCADE;


--
-- Name: types_dechets_declaration types_dechets_declaration_declaration_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.types_dechets_declaration
    ADD CONSTRAINT types_dechets_declaration_declaration_id_fkey FOREIGN KEY (declaration_id) REFERENCES public.declarations_dechets(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

