--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;
SET search_path = public, pg_catalog;
--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: mode_collecte; Type: TYPE; Schema: -; Owner: postgres
--

CREATE TYPE mode_collecte AS ENUM (
    'collecte_domicile',
    'depot_volontaire'
);

ALTER TYPE mode_collecte OWNER TO postgres;

--
-- Name: statut_collecteur; Type: TYPE; Schema: -; Owner: postgres
--

CREATE TYPE statut_collecteur AS ENUM (
    'en_attente',
    'actif',
    'suspendu',
    'inactif'
);

ALTER TYPE statut_collecteur OWNER TO postgres;

--
-- Name: statut_declaration; Type: TYPE; Schema: -; Owner: postgres
--

CREATE TYPE statut_declaration AS ENUM (
    'en_attente',
    'affecte',
    'programme',
    'termine',
    'annule'
);

ALTER TYPE statut_declaration OWNER TO postgres;

--
-- Name: statut_mission; Type: TYPE; Schema: -; Owner: postgres
--

CREATE TYPE statut_mission AS ENUM (
    'disponible',
    'acceptee',
    'en_cours',
    'deposee',
    'validee',
    'refusee',
    'annulee'
);

ALTER TYPE statut_mission OWNER TO postgres;

--
-- Name: type_collecteur; Type: TYPE; Schema: -; Owner: postgres
--

CREATE TYPE type_collecteur AS ENUM (
    'independant',
    'cooperative'
);

ALTER TYPE type_collecteur OWNER TO postgres;

--
-- Name: type_dechet; Type: TYPE; Schema: -; Owner: postgres
--

CREATE TYPE type_dechet AS ENUM (
    'plastique_pet',
    'plastique_pehd',
    'papier_carton',
    'metal',
    'verre',
    'organique'
);

ALTER TYPE type_dechet OWNER TO postgres;

--
-- Name: type_producteur; Type: TYPE; Schema: -; Owner: postgres
--

CREATE TYPE type_producteur AS ENUM (
    'menage',
    'commerce',
    'entreprise',
    'administration'
);

ALTER TYPE type_producteur OWNER TO postgres;

--
-- Name: type_utilisateur; Type: TYPE; Schema: -; Owner: postgres
--

CREATE TYPE type_utilisateur AS ENUM (
    'collecteur',
    'gestionnaire',
    'superviseur',
    'producteur',
    'admin',
    'recycleur',
    'sponsor',
    'ong'
);

ALTER TYPE type_utilisateur OWNER TO postgres;

--
-- Name: attribuer_points_apres_collecte(); Type: FUNCTION; Schema: -; Owner: postgres
--

CREATE FUNCTION attribuer_points_apres_collecte() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    points_a_attribuer INTEGER;
BEGIN
    IF NEW.statut = 'terminee' AND OLD.statut != 'terminee' THEN
        -- Calcul des points bas‚ sur le poids
        points_a_attribuer := CEIL(NEW.poids_reel);
        
        -- Mise … jour du total de points du producteur
        UPDATE producteurs 
        SET points = points + points_a_attribuer
        WHERE id = (
            SELECT producteur_id 
            FROM declarations_dechets 
            WHERE id = NEW.declaration_id
        );
        
        -- Historique des points
        INSERT INTO historique_points (producteur_id, points, raison, reference_id, type_reference)
        SELECT 
            dd.producteur_id,
            points_a_attribuer,
            'Collecte termin‚e',
            NEW.id,
            'collecte'
        FROM declarations_dechets dd
        WHERE dd.id = NEW.declaration_id;
        
        -- Notification au producteur
        INSERT INTO notifications (producteur_id, titre, message, type_notification)
        SELECT 
            dd.producteur_id,
            'Collecte termin‚e',
            'Votre collecte a ‚t‚ termin‚e. Vous avez gagn‚ ' || points_a_attribuer || ' points.',
            'succes'
        FROM declarations_dechets dd
        WHERE dd.id = NEW.declaration_id;
    END IF;
    RETURN NEW;
END;
$$;

ALTER FUNCTION attribuer_points_apres_collecte() OWNER TO postgres;

--
-- Name: calculer_gains_collecteur(); Type: FUNCTION; Schema: -; Owner: postgres
--

CREATE FUNCTION calculer_gains_collecteur() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    montant_gain DECIMAL(10, 2);
BEGIN
    IF NEW.statut = 'validee' AND (OLD.statut IS NULL OR OLD.statut != 'validee') THEN
        -- Calcul du gain (exemple: 100 FCFA par kg)
        montant_gain := NEW.poids_depose * 100;
        
        -- Mise … jour des gains du collecteur
        UPDATE collecteurs 
        SET gains_total = gains_total + montant_gain
        WHERE id = NEW.collecteur_id;
        
        -- Enregistrement du gain
        INSERT INTO gains_collecteurs (collecteur_id, mission_id, montant, type_gain, statut)
        VALUES (NEW.collecteur_id, NEW.id, montant_gain, 'collecte', 'valide');
        
        -- Notification au collecteur
        INSERT INTO notifications (utilisateur_id, type_utilisateur, titre, message, type_notification, reference_id, reference_type)
        VALUES (
            NEW.collecteur_id,
            'collecteur',
            'Mission valid‚e',
            'Votre mission a ‚t‚ valid‚e. Vous avez gagn‚ ' || montant_gain || ' FCFA.',
            'validation_collecte',
            NEW.id,
            'mission'
        );
    END IF;
    RETURN NEW;
END;
$$;

ALTER FUNCTION calculer_gains_collecteur() OWNER TO postgres;

--
-- Name: calculer_poids_estime(); Type: FUNCTION; Schema: -; Owner: postgres
--

CREATE FUNCTION calculer_poids_estime() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Conversion basique (… ajuster selon les besoins r‚els)
    IF NEW.unite = 'sacs' THEN
        NEW.poids_estime = NEW.quantite * 10; -- Supposition: 10kg par sac
    ELSIF NEW.unite = 'unites' THEN
        NEW.poids_estime = NEW.quantite * 1; -- Supposition: 1kg par unit‚
    ELSE
        NEW.poids_estime = NEW.quantite;
    END IF;
    RETURN NEW;
END;
$$;

ALTER FUNCTION calculer_poids_estime() OWNER TO postgres;

--
-- Name: mettre_a_jour_modifie_le(); Type: FUNCTION; Schema: -; Owner: postgres
--

CREATE FUNCTION mettre_a_jour_modifie_le() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.modifie_le = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;

ALTER FUNCTION mettre_a_jour_modifie_le() OWNER TO postgres;

--
-- Name: notifier_affectation_collecteur(); Type: FUNCTION; Schema: -; Owner: postgres
--

CREATE FUNCTION notifier_affectation_collecteur() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.statut = 'affecte' AND (OLD.statut IS NULL OR OLD.statut != 'affecte') THEN
        INSERT INTO notifications (
            utilisateur_id, 
            type_utilisateur, 
            titre, 
            message, 
            type_notification,
            reference_id,
            reference_type
        )
        SELECT 
            producteur_id,
            'producteur',
            'Collecteur affect‚',
            'Un collecteur a ‚t‚ affect‚ … votre d‚claration. Vous serez notifi‚ du cr‚neau horaire.',
            'collecteur_affecte',
            NEW.id,
            'declaration'
        FROM declarations_dechets
        WHERE id = NEW.id;
    END IF;
    RETURN NEW;
END;
$$;

ALTER FUNCTION notifier_affectation_collecteur() OWNER TO postgres;

--
-- Name: notifier_nouvelle_mission(); Type: FUNCTION; Schema: -; Owner: postgres
--

CREATE FUNCTION notifier_nouvelle_mission() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.statut = 'disponible' AND (OLD.statut IS NULL OR OLD.statut != 'disponible') THEN
        -- Cr‚er des notifications pour les collecteurs dans la zone
        INSERT INTO notifications (utilisateur_id, type_utilisateur, titre, message, type_notification, reference_id, reference_type)
        SELECT 
            c.id,
            'collecteur',
            'Nouvelle mission disponible',
            'Une nouvelle mission de collecte est disponible dans votre zone.',
            'nouvelle_mission',
            NEW.id,
            'mission'
        FROM collecteurs c
        WHERE c.statut = 'actif' 
          AND c.est_actif = true
          AND ST_Intersects(
              c.zone_intervention,
              (SELECT localisation_gps::geometry FROM producteurs 
               WHERE id = (SELECT producteur_id FROM declarations_dechets WHERE id = NEW.declaration_id))
          );
    END IF;
    RETURN NEW;
END;
$$;

ALTER FUNCTION notifier_nouvelle_mission() OWNER TO postgres;

SET default_tablespace = '';
SET default_table_access_method = heap;

--
-- Name: achats_gestionnaires; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE achats_gestionnaires (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    gestionnaire_id uuid NOT NULL,
    point_depot_id uuid NOT NULL,
    nom_vendeur character varying(255),
    telephone_vendeur character varying(20),
    type_dechet type_dechet NOT NULL,
    poids numeric(10,2) NOT NULL,
    prix_par_kg numeric(10,2) NOT NULL,
    total numeric(15,2) GENERATED ALWAYS AS ((poids * prix_par_kg)) STORED,
    date_achat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    recu_url text,
    notes text
);

ALTER TABLE achats_gestionnaires OWNER TO postgres;

--
-- Name: admins; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE admins (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20),
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_complet character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'admin'::character varying,
    est_actif boolean DEFAULT true,
    derniere_connexion timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    type_utilisateur character varying(50) DEFAULT 'admin'::character varying,
    mis_a_jour_le timestamp without time zone DEFAULT now()
);

ALTER TABLE admins OWNER TO postgres;

--
-- Name: campagne_objectifs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE campagne_objectifs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    campagne_id uuid NOT NULL,
    type_dechet type_dechet NOT NULL,
    poids_attendue numeric(10,2) NOT NULL,
    prix_par_kg numeric(10,2) NOT NULL,
    poids_collecte_actuel numeric(10,2) DEFAULT 0,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE campagne_objectifs OWNER TO postgres;

--
-- Name: campagnes; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE campagnes (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    nom character varying(255) NOT NULL,
    description text,
    date_debut date NOT NULL,
    date_fin date NOT NULL,
    types_dechets type_dechet[],
    zones_intervention text[],
    poids_attendue numeric(10,2),
    prix_par_kg numeric(10,2),
    budget_total numeric(15,2) GENERATED ALWAYS AS ((poids_attendue * prix_par_kg)) STORED,
    statut character varying(50) DEFAULT 'planifiee'::character varying,
    createur_id uuid NOT NULL,
    createur_type character varying(50) NOT NULL,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT campagnes_dates_check CHECK ((date_fin >= date_debut))
);

ALTER TABLE campagnes OWNER TO postgres;

--
-- Name: codes_reinitialisation; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE codes_reinitialisation (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    utilisateur_id uuid NOT NULL,
    type_utilisateur character varying(50) NOT NULL,
    code character varying(6) NOT NULL,
    email character varying(255) NOT NULL,
    expire_le timestamp without time zone NOT NULL,
    utilise boolean DEFAULT false,
    tentatives integer DEFAULT 0,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE codes_reinitialisation OWNER TO postgres;

--
-- Name: collecteurs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE collecteurs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20) NOT NULL,
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_complet character varying(255) NOT NULL,
    type_collecteur type_collecteur NOT NULL,
    numero_identite character varying(50),
    zone_intervention geometry(Polygon,4326),
    zone_intervention_nom character varying(255),
    quartiers_habituels text[],
    communes_intervention text[],
    statut statut_collecteur DEFAULT 'en_attente'::statut_collecteur,
    est_actif boolean DEFAULT false,
    notes_validation text,
    valide_par uuid,
    valide_le timestamp without time zone,
    photo_profil_url text,
    cgu_acceptees boolean DEFAULT false,
    cgu_acceptees_le timestamp without time zone,
    points_total integer DEFAULT 0,
    gains_total numeric(10,2) DEFAULT 0,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    derniere_connexion timestamp without time zone,
    photo_cni_recto_url text,
    photo_cni_verso_url text
);

ALTER TABLE collecteurs OWNER TO postgres;

--
-- Name: declarations_dechets; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE declarations_dechets (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    producteur_id uuid,
    date_declaration date DEFAULT CURRENT_DATE,
    type_dechet type_dechet NOT NULL,
    quantite numeric(10,2) NOT NULL,
    unite character varying(20),
    poids_estime numeric(10,2),
    mode_collecte mode_collecte NOT NULL,
    statut statut_declaration DEFAULT 'en_attente'::statut_declaration,
    date_souhaitee date,
    creneau_horaire character varying(50),
    notes text,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    type_declaration character varying(20) DEFAULT 'normale'::character varying,
    latitude_reelle numeric(10,8),
    longitude_reelle numeric(11,8),
    photo_url text,
    adresse_reelle text,
    CONSTRAINT declarations_dechets_unite_check CHECK (((unite)::text = ANY ((ARRAY['kg'::character varying, 'sacs'::character varying, 'unites'::character varying])::text[])))
);

ALTER TABLE declarations_dechets OWNER TO postgres;

--
-- Name: producteurs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE producteurs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20) NOT NULL,
    mot_de_passe_hash character varying(255) NOT NULL,
    type_producteur type_producteur NOT NULL,
    nom_complet character varying(255) NOT NULL,
    adresse text NOT NULL,
    localisation_gps geography(Point,4326),
    quartier character varying(100),
    commune character varying(100),
    est_actif boolean DEFAULT true,
    cgu_acceptees boolean DEFAULT false,
    cgu_acceptees_le timestamp without time zone,
    points integer DEFAULT 0,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    derniere_connexion timestamp without time zone,
    type_compte character varying(50) DEFAULT 'standard'::character varying
);

ALTER TABLE producteurs OWNER TO postgres;

--
-- Name: declarations_en_attente; Type: VIEW; Schema: -; Owner: postgres
--

CREATE VIEW declarations_en_attente AS
 SELECT dd.id,
    dd.producteur_id,
    dd.date_declaration,
    dd.type_dechet,
    dd.quantite,
    dd.unite,
    dd.poids_estime,
    dd.mode_collecte,
    dd.statut,
    dd.date_souhaitee,
    dd.creneau_horaire,
    dd.notes,
    dd.cree_le,
    dd.modifie_le,
    p.nom_complet,
    p.type_producteur,
    p.quartier,
    p.commune
   FROM (declarations_dechets dd
     JOIN producteurs p ON ((dd.producteur_id = p.id)))
  WHERE (dd.statut = 'en_attente'::statut_declaration)
  ORDER BY dd.cree_le;

ALTER VIEW declarations_en_attente OWNER TO postgres;

--
-- Name: declarations_recyclage; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE declarations_recyclage (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    recycleur_id uuid NOT NULL,
    demande_enlevement_id uuid,
    type_dechet type_dechet NOT NULL,
    quantite_recyclee numeric(10,2) NOT NULL,
    date_recyclage date NOT NULL,
    certificat_url text,
    statut character varying(50) DEFAULT 'en_attente'::character varying,
    valide_par uuid,
    date_validation timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE declarations_recyclage OWNER TO postgres;

--
-- Name: demandes_enlevement; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE demandes_enlevement (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    recycleur_id uuid NOT NULL,
    point_depot_id uuid NOT NULL,
    type_dechet type_dechet NOT NULL,
    quantite_demandee numeric(10,2) NOT NULL,
    quantite_reelle numeric(10,2),
    date_souhaitee date NOT NULL,
    date_validation timestamp without time zone,
    date_realisation timestamp without time zone,
    statut character varying(50) DEFAULT 'en_attente'::character varying,
    valide_par uuid,
    notes text,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE demandes_enlevement OWNER TO postgres;

--
-- Name: demandes_suppression; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE demandes_suppression (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    superviseur_id uuid NOT NULL,
    type_entite character varying(50) NOT NULL,
    entite_id uuid NOT NULL,
    raison text NOT NULL,
    statut character varying(50) DEFAULT 'en_attente'::character varying,
    traitee_par uuid,
    traitee_le timestamp without time zone,
    notes_traitement text,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE demandes_suppression OWNER TO postgres;

--
-- Name: gains_collecteurs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE gains_collecteurs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    collecteur_id uuid,
    mission_id uuid,
    montant numeric(10,2) NOT NULL,
    type_gain character varying(50),
    statut character varying(50) DEFAULT 'en_attente'::character varying,
    date_validation timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT gains_collecteurs_statut_check CHECK (((statut)::text = ANY ((ARRAY['en_attente'::character varying, 'valide'::character varying, 'paye'::character varying])::text[]))),
    CONSTRAINT gains_collecteurs_type_gain_check CHECK (((type_gain)::text = ANY ((ARRAY['collecte'::character varying, 'bonus'::character varying, 'prime'::character varying])::text[])))
);

ALTER TABLE gains_collecteurs OWNER TO postgres;

--
-- Name: gestionnaires_points; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE gestionnaires_points (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20) NOT NULL,
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_complet character varying(255) NOT NULL,
    point_collecte_id uuid,
    fonction character varying(100),
    est_actif boolean DEFAULT true,
    cree_par uuid,
    derniere_connexion timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE gestionnaires_points OWNER TO postgres;

--
-- Name: historique_actions; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE historique_actions (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    utilisateur_id uuid NOT NULL,
    action character varying(255) NOT NULL,
    details jsonb,
    adresse_ip inet,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE historique_actions OWNER TO postgres;

--
-- Name: historique_points; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE historique_points (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    producteur_id uuid,
    points integer NOT NULL,
    raison character varying(255) NOT NULL,
    reference_id uuid,
    type_reference character varying(50),
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE historique_points OWNER TO postgres;

--
-- Name: historique_stocks_recycleurs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE historique_stocks_recycleurs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    recycleur_id uuid NOT NULL,
    type_mouvement character varying(50) NOT NULL,
    type_dechet type_dechet NOT NULL,
    quantite numeric(10,2) NOT NULL,
    stock_avant numeric(10,2) NOT NULL,
    stock_apres numeric(10,2) NOT NULL,
    reference_id uuid,
    reference_type character varying(50),
    notes text,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE historique_stocks_recycleurs OWNER TO postgres;

--
-- Name: missions; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE missions (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    declaration_id uuid,
    collecteur_id uuid,
    statut statut_mission DEFAULT 'disponible'::statut_mission,
    date_disponibilite timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_acceptation timestamp without time zone,
    date_debut_collecte timestamp without time zone,
    date_fin_collecte timestamp without time zone,
    date_depot_point timestamp without time zone,
    date_validation timestamp without time zone,
    photo_preuve_url text,
    code_confirmation_producteur character varying(10),
    notes_collecte text,
    conformite_tri boolean,
    point_depot_id uuid,
    poids_depose numeric(10,2),
    qualite_dechets character varying(50),
    valide_par uuid,
    validation_notes text,
    points_attribues integer DEFAULT 0,
    gains_attribues numeric(10,2) DEFAULT 0,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_programmee date,
    heure_programmee character varying(50),
    validee_par uuid,
    prix_par_kg integer,
    campagne_id uuid
);

ALTER TABLE missions OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE notifications (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    utilisateur_id uuid NOT NULL,
    titre character varying(255) NOT NULL,
    message text NOT NULL,
    type_notification character varying(50),
    reference_id uuid,
    reference_type character varying(50),
    est_lue boolean DEFAULT false,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    producteur_id uuid,
    type_utilisateur type_utilisateur,
    CONSTRAINT notifications_type_notification_check CHECK (((type_notification)::text = ANY ((ARRAY['compte_valide'::character varying, 'mission_acceptee'::character varying, 'validation_collecte'::character varying, 'nouvelle_mission'::character varying, 'succes'::character varying, 'info'::character varying, 'gain_recu'::character varying, 'demande_validee'::character varying, 'demande_refusee'::character varying, 'paiement_recu'::character varying])::text[])))
);

ALTER TABLE notifications OWNER TO postgres;

--
-- Name: ongs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE ongs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20),
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_ong character varying(255) NOT NULL,
    numero_agrement character varying(100),
    domaine_intervention text[],
    nom_responsable character varying(255),
    adresse text,
    localisation_gps geography(Point,4326),
    statut character varying(50) DEFAULT 'actif'::character varying,
    est_actif boolean DEFAULT true,
    cgu_acceptees boolean DEFAULT false,
    cgu_acceptees_le timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    derniere_connexion timestamp without time zone
);

ALTER TABLE ongs OWNER TO postgres;

--
-- Name: photos_preuves; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE photos_preuves (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    mission_id uuid,
    collecteur_id uuid,
    url_photo text NOT NULL,
    type_photo character varying(50),
    description text,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT photos_preuves_type_photo_check CHECK (((type_photo)::text = ANY ((ARRAY['avant_collecte'::character varying, 'apres_collecte'::character varying, 'depot'::character varying, 'autre'::character varying])::text[])))
);

ALTER TABLE photos_preuves OWNER TO postgres;

--
-- Name: points_depot_volontaire; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE points_depot_volontaire (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    nom character varying(255) NOT NULL,
    adresse text NOT NULL,
    localisation_gps geography(Point,4326),
    quartier character varying(100),
    commune character varying(100),
    types_dechets_acceptes type_dechet[],
    horaires_ouverture jsonb,
    est_actif boolean DEFAULT true,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE points_depot_volontaire OWNER TO postgres;

--
-- Name: producteurs_premium; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE producteurs_premium (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    producteur_id uuid NOT NULL,
    type_abonnement character varying(50) NOT NULL,
    frequence_collecte character varying(50) NOT NULL,
    date_debut date NOT NULL,
    date_fin date NOT NULL,
    montant_abonnement numeric(10,2) NOT NULL,
    statut character varying(50) DEFAULT 'actif'::character varying,
    prochaine_collecte date,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT producteurs_premium_dates_check CHECK ((date_fin >= date_debut))
);

ALTER TABLE producteurs_premium OWNER TO postgres;

--
-- Name: promoteurs_campagne; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE promoteurs_campagne (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    campagne_id uuid NOT NULL,
    promoteur_id uuid NOT NULL,
    promoteur_type character varying(50) NOT NULL,
    contribution_financiere numeric(15,2),
    objectif_specifique text,
    date_ajout timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE promoteurs_campagne OWNER TO postgres;

--
-- Name: rapports_ong; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE rapports_ong (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    ong_id uuid NOT NULL,
    titre character varying(255) NOT NULL,
    description text,
    fichier_url text,
    type_rapport character varying(50),
    zone_concernee text,
    date_evenement date,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE rapports_ong OWNER TO postgres;

--
-- Name: recycleurs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE recycleurs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20) NOT NULL,
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_entreprise character varying(255) NOT NULL,
    nom_responsable character varying(255) NOT NULL,
    adresse text NOT NULL,
    localisation_gps geography(Point,4326),
    quartier character varying(100),
    commune character varying(100),
    numero_identite character varying(50),
    photo_cni_recto_url text,
    photo_cni_verso_url text,
    photo_profil_url text,
    statut character varying(50) DEFAULT 'en_attente'::character varying,
    est_actif boolean DEFAULT false,
    notes_validation text,
    valide_par uuid,
    valide_le timestamp without time zone,
    cgu_acceptees boolean DEFAULT false,
    cgu_acceptees_le timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    derniere_connexion timestamp without time zone,
    valide_par_type character varying(50) DEFAULT 'superviseur'::character varying
);

ALTER TABLE recycleurs OWNER TO postgres;

--
-- Name: sponsors; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE sponsors (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20),
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_organisation character varying(255) NOT NULL,
    type_organisation character varying(50),
    nom_responsable character varying(255),
    adresse text,
    localisation_gps geography(Point,4326),
    statut character varying(50) DEFAULT 'actif'::character varying,
    est_actif boolean DEFAULT true,
    cgu_acceptees boolean DEFAULT false,
    cgu_acceptees_le timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    derniere_connexion timestamp without time zone,
    notes_desactivation character varying(255)
);

ALTER TABLE sponsors OWNER TO postgres;

--
-- Name: stocks_dechets; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE stocks_dechets (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    point_depot_id uuid NOT NULL,
    type_dechet type_dechet NOT NULL,
    quantite_disponible numeric(10,2) DEFAULT 0 NOT NULL,
    unite character varying(20) DEFAULT 'kg'::character varying,
    prix_estime numeric(10,2),
    dernier_mouvement timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    quantite_reservee numeric(10,2) DEFAULT 0
);

ALTER TABLE stocks_dechets OWNER TO postgres;

--
-- Name: stocks_recycleurs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE stocks_recycleurs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    recycleur_id uuid NOT NULL,
    type_dechet type_dechet NOT NULL,
    quantite_disponible numeric(10,2) DEFAULT 0 NOT NULL,
    unite character varying(20) DEFAULT 'kg'::character varying,
    dernier_mouvement timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE stocks_recycleurs OWNER TO postgres;

--
-- Name: suivi_campagne; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE suivi_campagne (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    campagne_id uuid NOT NULL,
    date_suivi date NOT NULL,
    poids_collecte numeric(10,2) DEFAULT 0,
    montant_utilise numeric(15,2) DEFAULT 0,
    points_concernes integer DEFAULT 0,
    details jsonb,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE suivi_campagne OWNER TO postgres;

--
-- Name: superviseurs; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE superviseurs (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    telephone character varying(20),
    mot_de_passe_hash character varying(255) NOT NULL,
    nom_complet character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'superviseur'::character varying,
    est_actif boolean DEFAULT true,
    derniere_connexion timestamp without time zone,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modifie_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE superviseurs OWNER TO postgres;

--
-- Name: tableau_bord_collecteur; Type: VIEW; Schema: -; Owner: postgres
--

CREATE VIEW tableau_bord_collecteur AS
 SELECT c.id AS collecteur_id,
    c.nom_complet,
    c.email,
    c.telephone,
    c.statut,
    c.points_total,
    c.gains_total,
    count(DISTINCT m.id) AS total_missions,
    count(DISTINCT
        CASE
            WHEN (m.statut = 'validee'::statut_mission) THEN m.id
            ELSE NULL::uuid
        END) AS missions_validees,
    count(DISTINCT
        CASE
            WHEN (m.statut = 'en_cours'::statut_mission) THEN m.id
            ELSE NULL::uuid
        END) AS missions_en_cours,
    COALESCE(sum(m.poids_depose), (0)::numeric) AS total_dechets_collectes,
    COALESCE(sum(
        CASE
            WHEN (m.statut = 'validee'::statut_mission) THEN m.gains_attribues
            ELSE NULL::numeric
        END), (0)::numeric) AS gains_du_mois,
    max(m.date_validation) AS derniere_mission_validee
   FROM (collecteurs c
     LEFT JOIN missions m ON ((c.id = m.collecteur_id)))
  GROUP BY c.id, c.nom_complet, c.email, c.telephone, c.statut, c.points_total, c.gains_total;

ALTER VIEW tableau_bord_collecteur OWNER TO postgres;

--
-- Name: tableau_bord_gestionnaire; Type: VIEW; Schema: -; Owner: postgres
--

CREATE VIEW tableau_bord_gestionnaire AS
 SELECT gp.id AS gestionnaire_id,
    gp.nom_complet,
    gp.point_collecte_id,
    pdv.nom AS point_collecte_nom,
    count(DISTINCT m.id) AS total_receptions,
    COALESCE(sum(m.poids_depose), (0)::numeric) AS total_poids_recu,
    count(DISTINCT
        CASE
            WHEN (m.date_validation >= CURRENT_DATE) THEN m.id
            ELSE NULL::uuid
        END) AS receptions_aujourdhui,
    COALESCE(sum(
        CASE
            WHEN (m.date_validation >= CURRENT_DATE) THEN m.poids_depose
            ELSE NULL::numeric
        END), (0)::numeric) AS poids_aujourdhui
   FROM ((gestionnaires_points gp
     LEFT JOIN points_depot_volontaire pdv ON ((gp.point_collecte_id = pdv.id)))
     LEFT JOIN missions m ON (((pdv.id = m.point_depot_id) AND (m.statut = 'validee'::statut_mission))))
  GROUP BY gp.id, gp.nom_complet, gp.point_collecte_id, pdv.nom;

ALTER VIEW tableau_bord_gestionnaire OWNER TO postgres;

--
-- Name: tokens; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE tokens (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    utilisateur_id uuid NOT NULL,
    token character varying(255) NOT NULL,
    type_token character varying(50),
    expire_le timestamp without time zone NOT NULL,
    utilise boolean DEFAULT false,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT tokens_type_token_check CHECK (((type_token)::text = ANY ((ARRAY['reset_password'::character varying, 'validation_email'::character varying, 'validation_compte'::character varying])::text[])))
);

ALTER TABLE tokens OWNER TO postgres;

--
-- Name: transactions_paiement; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE transactions_paiement (
    id uuid DEFAULT uuid_generate_v4() NOT NULL,
    producteur_id uuid NOT NULL,
    operateur character varying(20) NOT NULL,
    montant numeric(10,2) NOT NULL,
    telephone character varying(20) NOT NULL,
    statut character varying(20) DEFAULT 'en_attente'::character varying,
    cree_le timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_validation timestamp without time zone,
    CONSTRAINT transactions_paiement_operateur_check CHECK (((operateur)::text = ANY ((ARRAY['ORANGE'::character varying, 'MTN'::character varying])::text[]))),
    CONSTRAINT transactions_paiement_statut_check CHECK (((statut)::text = ANY ((ARRAY['en_attente'::character varying, 'reussi'::character varying, 'echoue'::character varying])::text[])))
);

ALTER TABLE transactions_paiement OWNER TO postgres;

--
-- Name: types_dechets_declaration; Type: TABLE; Schema: -; Owner: postgres
--

CREATE TABLE types_dechets_declaration (
    declaration_id uuid NOT NULL,
    type_dechet type_dechet NOT NULL,
    quantite numeric(10,2) NOT NULL,
    unite character varying(20),
    CONSTRAINT types_dechets_declaration_unite_check CHECK (((unite)::text = ANY ((ARRAY['kg'::character varying, 'sacs'::character varying, 'unites'::character varying])::text[])))
);

ALTER TABLE types_dechets_declaration OWNER TO postgres;

--
-- Name: achats_gestionnaires achats_gestionnaires_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY achats_gestionnaires
    ADD CONSTRAINT achats_gestionnaires_pkey PRIMARY KEY (id);

--
-- Name: admins admins_email_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY admins
    ADD CONSTRAINT admins_email_key UNIQUE (email);

--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);

--
-- Name: admins admins_telephone_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY admins
    ADD CONSTRAINT admins_telephone_key UNIQUE (telephone);

--
-- Name: campagne_objectifs campagne_objectifs_campagne_id_type_dechet_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY campagne_objectifs
    ADD CONSTRAINT campagne_objectifs_campagne_id_type_dechet_key UNIQUE (campagne_id, type_dechet);

--
-- Name: campagne_objectifs campagne_objectifs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY campagne_objectifs
    ADD CONSTRAINT campagne_objectifs_pkey PRIMARY KEY (id);

--
-- Name: campagnes campagnes_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY campagnes
    ADD CONSTRAINT campagnes_pkey PRIMARY KEY (id);

--
-- Name: codes_reinitialisation codes_reinitialisation_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY codes_reinitialisation
    ADD CONSTRAINT codes_reinitialisation_pkey PRIMARY KEY (id);

--
-- Name: collecteurs collecteurs_email_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY collecteurs
    ADD CONSTRAINT collecteurs_email_key UNIQUE (email);

--
-- Name: collecteurs collecteurs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY collecteurs
    ADD CONSTRAINT collecteurs_pkey PRIMARY KEY (id);

--
-- Name: collecteurs collecteurs_telephone_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY collecteurs
    ADD CONSTRAINT collecteurs_telephone_key UNIQUE (telephone);

--
-- Name: declarations_dechets declarations_dechets_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY declarations_dechets
    ADD CONSTRAINT declarations_dechets_pkey PRIMARY KEY (id);

--
-- Name: declarations_recyclage declarations_recyclage_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY declarations_recyclage
    ADD CONSTRAINT declarations_recyclage_pkey PRIMARY KEY (id);

--
-- Name: demandes_enlevement demandes_enlevement_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY demandes_enlevement
    ADD CONSTRAINT demandes_enlevement_pkey PRIMARY KEY (id);

--
-- Name: demandes_suppression demandes_suppression_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY demandes_suppression
    ADD CONSTRAINT demandes_suppression_pkey PRIMARY KEY (id);

--
-- Name: gains_collecteurs gains_collecteurs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY gains_collecteurs
    ADD CONSTRAINT gains_collecteurs_pkey PRIMARY KEY (id);

--
-- Name: gestionnaires_points gestionnaires_points_email_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY gestionnaires_points
    ADD CONSTRAINT gestionnaires_points_email_key UNIQUE (email);

--
-- Name: gestionnaires_points gestionnaires_points_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY gestionnaires_points
    ADD CONSTRAINT gestionnaires_points_pkey PRIMARY KEY (id);

--
-- Name: gestionnaires_points gestionnaires_points_telephone_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY gestionnaires_points
    ADD CONSTRAINT gestionnaires_points_telephone_key UNIQUE (telephone);

--
-- Name: historique_actions historique_actions_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY historique_actions
    ADD CONSTRAINT historique_actions_pkey PRIMARY KEY (id);

--
-- Name: historique_points historique_points_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY historique_points
    ADD CONSTRAINT historique_points_pkey PRIMARY KEY (id);

--
-- Name: historique_stocks_recycleurs historique_stocks_recycleurs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY historique_stocks_recycleurs
    ADD CONSTRAINT historique_stocks_recycleurs_pkey PRIMARY KEY (id);

--
-- Name: missions missions_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY missions
    ADD CONSTRAINT missions_pkey PRIMARY KEY (id);

--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);

--
-- Name: ongs ongs_email_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY ongs
    ADD CONSTRAINT ongs_email_key UNIQUE (email);

--
-- Name: ongs ongs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY ongs
    ADD CONSTRAINT ongs_pkey PRIMARY KEY (id);

--
-- Name: ongs ongs_telephone_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY ongs
    ADD CONSTRAINT ongs_telephone_key UNIQUE (telephone);

--
-- Name: photos_preuves photos_preuves_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY photos_preuves
    ADD CONSTRAINT photos_preuves_pkey PRIMARY KEY (id);

--
-- Name: points_depot_volontaire points_depot_volontaire_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY points_depot_volontaire
    ADD CONSTRAINT points_depot_volontaire_pkey PRIMARY KEY (id);

--
-- Name: producteurs producteurs_email_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY producteurs
    ADD CONSTRAINT producteurs_email_key UNIQUE (email);

--
-- Name: producteurs producteurs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY producteurs
    ADD CONSTRAINT producteurs_pkey PRIMARY KEY (id);

--
-- Name: producteurs_premium producteurs_premium_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY producteurs_premium
    ADD CONSTRAINT producteurs_premium_pkey PRIMARY KEY (id);

--
-- Name: producteurs_premium producteurs_premium_producteur_id_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY producteurs_premium
    ADD CONSTRAINT producteurs_premium_producteur_id_key UNIQUE (producteur_id);

--
-- Name: producteurs producteurs_telephone_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY producteurs
    ADD CONSTRAINT producteurs_telephone_key UNIQUE (telephone);

--
-- Name: promoteurs_campagne promoteurs_campagne_campagne_id_promoteur_id_promoteur_type_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY promoteurs_campagne
    ADD CONSTRAINT promoteurs_campagne_campagne_id_promoteur_id_promoteur_type_key UNIQUE (campagne_id, promoteur_id, promoteur_type);

--
-- Name: promoteurs_campagne promoteurs_campagne_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY promoteurs_campagne
    ADD CONSTRAINT promoteurs_campagne_pkey PRIMARY KEY (id);

--
-- Name: rapports_ong rapports_ong_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY rapports_ong
    ADD CONSTRAINT rapports_ong_pkey PRIMARY KEY (id);

--
-- Name: recycleurs recycleurs_email_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY recycleurs
    ADD CONSTRAINT recycleurs_email_key UNIQUE (email);

--
-- Name: recycleurs recycleurs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY recycleurs
    ADD CONSTRAINT recycleurs_pkey PRIMARY KEY (id);

--
-- Name: recycleurs recycleurs_telephone_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY recycleurs
    ADD CONSTRAINT recycleurs_telephone_key UNIQUE (telephone);

--
-- Name: sponsors sponsors_email_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY sponsors
    ADD CONSTRAINT sponsors_email_key UNIQUE (email);

--
-- Name: sponsors sponsors_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY sponsors
    ADD CONSTRAINT sponsors_pkey PRIMARY KEY (id);

--
-- Name: sponsors sponsors_telephone_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY sponsors
    ADD CONSTRAINT sponsors_telephone_key UNIQUE (telephone);

--
-- Name: stocks_dechets stocks_dechets_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY stocks_dechets
    ADD CONSTRAINT stocks_dechets_pkey PRIMARY KEY (id);

--
-- Name: stocks_dechets stocks_dechets_point_depot_id_type_dechet_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY stocks_dechets
    ADD CONSTRAINT stocks_dechets_point_depot_id_type_dechet_key UNIQUE (point_depot_id, type_dechet);

--
-- Name: stocks_recycleurs stocks_recycleurs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY stocks_recycleurs
    ADD CONSTRAINT stocks_recycleurs_pkey PRIMARY KEY (id);

--
-- Name: stocks_recycleurs stocks_recycleurs_recycleur_id_type_dechet_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY stocks_recycleurs
    ADD CONSTRAINT stocks_recycleurs_recycleur_id_type_dechet_key UNIQUE (recycleur_id, type_dechet);

--
-- Name: suivi_campagne suivi_campagne_campagne_id_date_suivi_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY suivi_campagne
    ADD CONSTRAINT suivi_campagne_campagne_id_date_suivi_key UNIQUE (campagne_id, date_suivi);

--
-- Name: suivi_campagne suivi_campagne_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY suivi_campagne
    ADD CONSTRAINT suivi_campagne_pkey PRIMARY KEY (id);

--
-- Name: superviseurs superviseurs_email_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY superviseurs
    ADD CONSTRAINT superviseurs_email_key UNIQUE (email);

--
-- Name: superviseurs superviseurs_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY superviseurs
    ADD CONSTRAINT superviseurs_pkey PRIMARY KEY (id);

--
-- Name: superviseurs superviseurs_telephone_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY superviseurs
    ADD CONSTRAINT superviseurs_telephone_key UNIQUE (telephone);

--
-- Name: tokens tokens_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY tokens
    ADD CONSTRAINT tokens_pkey PRIMARY KEY (id);

--
-- Name: tokens tokens_token_key; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY tokens
    ADD CONSTRAINT tokens_token_key UNIQUE (token);

--
-- Name: transactions_paiement transactions_paiement_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY transactions_paiement
    ADD CONSTRAINT transactions_paiement_pkey PRIMARY KEY (id);

--
-- Name: types_dechets_declaration types_dechets_declaration_pkey; Type: CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY types_dechets_declaration
    ADD CONSTRAINT types_dechets_declaration_pkey PRIMARY KEY (declaration_id, type_dechet);

--
-- Name: idx_campagne_objectifs_campagne; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_campagne_objectifs_campagne ON campagne_objectifs USING btree (campagne_id);

--
-- Name: idx_codes_reinitialisation_code; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_codes_reinitialisation_code ON codes_reinitialisation USING btree (code);

--
-- Name: idx_codes_reinitialisation_utilisateur; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_codes_reinitialisation_utilisateur ON codes_reinitialisation USING btree (utilisateur_id);

--
-- Name: idx_collecteurs_email; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_collecteurs_email ON collecteurs USING btree (email);

--
-- Name: idx_collecteurs_statut; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_collecteurs_statut ON collecteurs USING btree (statut);

--
-- Name: idx_collecteurs_telephone; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_collecteurs_telephone ON collecteurs USING btree (telephone);

--
-- Name: idx_collecteurs_zone; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_collecteurs_zone ON collecteurs USING gist (zone_intervention);

--
-- Name: idx_declarations_date; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_declarations_date ON declarations_dechets USING btree (date_declaration);

--
-- Name: idx_declarations_producteur_id; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_declarations_producteur_id ON declarations_dechets USING btree (producteur_id);

--
-- Name: idx_declarations_recycleur; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_declarations_recycleur ON declarations_recyclage USING btree (recycleur_id);

--
-- Name: idx_declarations_statut; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_declarations_statut ON declarations_dechets USING btree (statut);

--
-- Name: idx_demandes_recycleur; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_demandes_recycleur ON demandes_enlevement USING btree (recycleur_id);

--
-- Name: idx_demandes_statut; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_demandes_statut ON demandes_enlevement USING btree (statut);

--
-- Name: idx_gestionnaires_email; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_gestionnaires_email ON gestionnaires_points USING btree (email);

--
-- Name: idx_gestionnaires_point_collecte; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_gestionnaires_point_collecte ON gestionnaires_points USING btree (point_collecte_id);

--
-- Name: idx_historique_points_producteur_id; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_historique_points_producteur_id ON historique_points USING btree (producteur_id);

--
-- Name: idx_historique_stocks_recycleur; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_historique_stocks_recycleur ON historique_stocks_recycleurs USING btree (recycleur_id);

--
-- Name: idx_missions_campagne; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_missions_campagne ON missions USING btree (campagne_id);

--
-- Name: idx_missions_collecteur_id; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_missions_collecteur_id ON missions USING btree (collecteur_id);

--
-- Name: idx_missions_date_validation; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_missions_date_validation ON missions USING btree (date_validation);

--
-- Name: idx_missions_declaration_id; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_missions_declaration_id ON missions USING btree (declaration_id);

--
-- Name: idx_missions_point_depot; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_missions_point_depot ON missions USING btree (point_depot_id);

--
-- Name: idx_missions_statut; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_missions_statut ON missions USING btree (statut);

--
-- Name: idx_missions_validee_par; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_missions_validee_par ON missions USING btree (validee_par);

--
-- Name: idx_points_depot_localisation; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_points_depot_localisation ON points_depot_volontaire USING gist (localisation_gps);

--
-- Name: idx_producteurs_email; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_producteurs_email ON producteurs USING btree (email);

--
-- Name: idx_producteurs_premium_date_fin; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_producteurs_premium_date_fin ON producteurs_premium USING btree (date_fin);

--
-- Name: idx_producteurs_premium_producteur; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_producteurs_premium_producteur ON producteurs_premium USING btree (producteur_id);

--
-- Name: idx_producteurs_premium_statut; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_producteurs_premium_statut ON producteurs_premium USING btree (statut);

--
-- Name: idx_producteurs_telephone; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_producteurs_telephone ON producteurs USING btree (telephone);

--
-- Name: idx_stocks_recycleurs_recycleur; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_stocks_recycleurs_recycleur ON stocks_recycleurs USING btree (recycleur_id);

--
-- Name: idx_transactions_producteur; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_transactions_producteur ON transactions_paiement USING btree (producteur_id);

--
-- Name: idx_transactions_statut; Type: INDEX; Schema: -; Owner: postgres
--

CREATE INDEX idx_transactions_statut ON transactions_paiement USING btree (statut);

--
-- Name: missions calculer_gains_sur_validation; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER calculer_gains_sur_validation AFTER UPDATE ON missions FOR EACH ROW EXECUTE FUNCTION calculer_gains_collecteur();

--
-- Name: declarations_dechets calculer_poids_avant_insertion; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER calculer_poids_avant_insertion BEFORE INSERT ON declarations_dechets FOR EACH ROW EXECUTE FUNCTION calculer_poids_estime();

--
-- Name: collecteurs mettre_a_jour_collecteurs_modifie_le; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_collecteurs_modifie_le BEFORE UPDATE ON collecteurs FOR EACH ROW EXECUTE FUNCTION mettre_a_jour_modifie_le();

--
-- Name: declarations_dechets mettre_a_jour_declarations_modifie_le; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_declarations_modifie_le BEFORE UPDATE ON declarations_dechets FOR EACH ROW EXECUTE FUNCTION mettre_a_jour_modifie_le();

--
-- Name: gestionnaires_points mettre_a_jour_gestionnaires_modifie_le; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_gestionnaires_modifie_le BEFORE UPDATE ON gestionnaires_points FOR EACH ROW EXECUTE FUNCTION mettre_a_jour_modifie_le();

--
-- Name: missions mettre_a_jour_missions_modifie_le; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_missions_modifie_le BEFORE UPDATE ON missions FOR EACH ROW EXECUTE FUNCTION mettre_a_jour_modifie_le();

--
-- Name: producteurs mettre_a_jour_producteurs_modifie_le; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER mettre_a_jour_producteurs_modifie_le BEFORE UPDATE ON producteurs FOR EACH ROW EXECUTE FUNCTION mettre_a_jour_modifie_le();

--
-- Name: declarations_dechets notifier_affectation_collecteur_trigger; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER notifier_affectation_collecteur_trigger AFTER UPDATE ON declarations_dechets FOR EACH ROW EXECUTE FUNCTION notifier_affectation_collecteur();

ALTER TABLE declarations_dechets DISABLE TRIGGER notifier_affectation_collecteur_trigger;

--
-- Name: missions notifier_nouvelle_mission_trigger; Type: TRIGGER; Schema: -; Owner: postgres
--

CREATE TRIGGER notifier_nouvelle_mission_trigger AFTER INSERT ON missions FOR EACH ROW EXECUTE FUNCTION notifier_nouvelle_mission();

--
-- Name: achats_gestionnaires achats_gestionnaires_gestionnaire_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY achats_gestionnaires
    ADD CONSTRAINT achats_gestionnaires_gestionnaire_id_fkey FOREIGN KEY (gestionnaire_id) REFERENCES gestionnaires_points(id);

--
-- Name: achats_gestionnaires achats_gestionnaires_point_depot_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY achats_gestionnaires
    ADD CONSTRAINT achats_gestionnaires_point_depot_id_fkey FOREIGN KEY (point_depot_id) REFERENCES points_depot_volontaire(id);

--
-- Name: campagne_objectifs campagne_objectifs_campagne_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY campagne_objectifs
    ADD CONSTRAINT campagne_objectifs_campagne_id_fkey FOREIGN KEY (campagne_id) REFERENCES campagnes(id) ON DELETE CASCADE;

--
-- Name: declarations_dechets declarations_dechets_producteur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY declarations_dechets
    ADD CONSTRAINT declarations_dechets_producteur_id_fkey FOREIGN KEY (producteur_id) REFERENCES producteurs(id) ON DELETE CASCADE;

--
-- Name: declarations_recyclage declarations_recyclage_demande_enlevement_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY declarations_recyclage
    ADD CONSTRAINT declarations_recyclage_demande_enlevement_id_fkey FOREIGN KEY (demande_enlevement_id) REFERENCES demandes_enlevement(id);

--
-- Name: declarations_recyclage declarations_recyclage_recycleur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY declarations_recyclage
    ADD CONSTRAINT declarations_recyclage_recycleur_id_fkey FOREIGN KEY (recycleur_id) REFERENCES recycleurs(id);

--
-- Name: declarations_recyclage declarations_recyclage_valide_par_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY declarations_recyclage
    ADD CONSTRAINT declarations_recyclage_valide_par_fkey FOREIGN KEY (valide_par) REFERENCES superviseurs(id);

--
-- Name: demandes_enlevement demandes_enlevement_point_depot_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY demandes_enlevement
    ADD CONSTRAINT demandes_enlevement_point_depot_id_fkey FOREIGN KEY (point_depot_id) REFERENCES points_depot_volontaire(id);

--
-- Name: demandes_enlevement demandes_enlevement_recycleur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY demandes_enlevement
    ADD CONSTRAINT demandes_enlevement_recycleur_id_fkey FOREIGN KEY (recycleur_id) REFERENCES recycleurs(id);

--
-- Name: demandes_enlevement demandes_enlevement_valide_par_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY demandes_enlevement
    ADD CONSTRAINT demandes_enlevement_valide_par_fkey FOREIGN KEY (valide_par) REFERENCES superviseurs(id);

--
-- Name: demandes_suppression demandes_suppression_superviseur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY demandes_suppression
    ADD CONSTRAINT demandes_suppression_superviseur_id_fkey FOREIGN KEY (superviseur_id) REFERENCES superviseurs(id);

--
-- Name: demandes_suppression demandes_suppression_traitee_par_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY demandes_suppression
    ADD CONSTRAINT demandes_suppression_traitee_par_fkey FOREIGN KEY (traitee_par) REFERENCES admins(id);

--
-- Name: gains_collecteurs gains_collecteurs_collecteur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY gains_collecteurs
    ADD CONSTRAINT gains_collecteurs_collecteur_id_fkey FOREIGN KEY (collecteur_id) REFERENCES collecteurs(id) ON DELETE CASCADE;

--
-- Name: gains_collecteurs gains_collecteurs_mission_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY gains_collecteurs
    ADD CONSTRAINT gains_collecteurs_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES missions(id) ON DELETE SET NULL;

--
-- Name: gestionnaires_points gestionnaires_points_point_collecte_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY gestionnaires_points
    ADD CONSTRAINT gestionnaires_points_point_collecte_id_fkey FOREIGN KEY (point_collecte_id) REFERENCES points_depot_volontaire(id) ON DELETE SET NULL;

--
-- Name: historique_points historique_points_producteur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY historique_points
    ADD CONSTRAINT historique_points_producteur_id_fkey FOREIGN KEY (producteur_id) REFERENCES producteurs(id) ON DELETE CASCADE;

--
-- Name: historique_stocks_recycleurs historique_stocks_recycleurs_recycleur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY historique_stocks_recycleurs
    ADD CONSTRAINT historique_stocks_recycleurs_recycleur_id_fkey FOREIGN KEY (recycleur_id) REFERENCES recycleurs(id);

--
-- Name: missions missions_campagne_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY missions
    ADD CONSTRAINT missions_campagne_id_fkey FOREIGN KEY (campagne_id) REFERENCES campagnes(id) ON DELETE SET NULL;

--
-- Name: missions missions_collecteur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY missions
    ADD CONSTRAINT missions_collecteur_id_fkey FOREIGN KEY (collecteur_id) REFERENCES collecteurs(id) ON DELETE SET NULL;

--
-- Name: missions missions_declaration_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY missions
    ADD CONSTRAINT missions_declaration_id_fkey FOREIGN KEY (declaration_id) REFERENCES declarations_dechets(id) ON DELETE SET NULL;

--
-- Name: missions missions_point_depot_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY missions
    ADD CONSTRAINT missions_point_depot_id_fkey FOREIGN KEY (point_depot_id) REFERENCES points_depot_volontaire(id);

--
-- Name: missions missions_validee_par_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY missions
    ADD CONSTRAINT missions_validee_par_fkey FOREIGN KEY (validee_par) REFERENCES gestionnaires_points(id);

--
-- Name: photos_preuves photos_preuves_collecteur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY photos_preuves
    ADD CONSTRAINT photos_preuves_collecteur_id_fkey FOREIGN KEY (collecteur_id) REFERENCES collecteurs(id);

--
-- Name: photos_preuves photos_preuves_mission_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY photos_preuves
    ADD CONSTRAINT photos_preuves_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES missions(id) ON DELETE CASCADE;

--
-- Name: producteurs_premium producteurs_premium_producteur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY producteurs_premium
    ADD CONSTRAINT producteurs_premium_producteur_id_fkey FOREIGN KEY (producteur_id) REFERENCES producteurs(id);

--
-- Name: promoteurs_campagne promoteurs_campagne_campagne_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY promoteurs_campagne
    ADD CONSTRAINT promoteurs_campagne_campagne_id_fkey FOREIGN KEY (campagne_id) REFERENCES campagnes(id) ON DELETE CASCADE;

--
-- Name: stocks_dechets stocks_dechets_point_depot_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY stocks_dechets
    ADD CONSTRAINT stocks_dechets_point_depot_id_fkey FOREIGN KEY (point_depot_id) REFERENCES points_depot_volontaire(id);

--
-- Name: stocks_recycleurs stocks_recycleurs_recycleur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY stocks_recycleurs
    ADD CONSTRAINT stocks_recycleurs_recycleur_id_fkey FOREIGN KEY (recycleur_id) REFERENCES recycleurs(id);

--
-- Name: suivi_campagne suivi_campagne_campagne_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY suivi_campagne
    ADD CONSTRAINT suivi_campagne_campagne_id_fkey FOREIGN KEY (campagne_id) REFERENCES campagnes(id) ON DELETE CASCADE;

--
-- Name: transactions_paiement transactions_paiement_producteur_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY transactions_paiement
    ADD CONSTRAINT transactions_paiement_producteur_id_fkey FOREIGN KEY (producteur_id) REFERENCES producteurs(id) ON DELETE CASCADE;

--
-- Name: types_dechets_declaration types_dechets_declaration_declaration_id_fkey; Type: FK CONSTRAINT; Schema: -; Owner: postgres
--

ALTER TABLE ONLY types_dechets_declaration
    ADD CONSTRAINT types_dechets_declaration_declaration_id_fkey FOREIGN KEY (declaration_id) REFERENCES declarations_dechets(id) ON DELETE CASCADE;

--
-- PostgreSQL database dump complete
--